<div class="container topic-group">

  <div class="row">
    <p>
      <%= link_to "New Topic", new_topic_path, :class => "btn btn-primary" %>
      <%= link_to "排序：最後回覆時間", topics_path( :order => "last_time"), :class => "btn btn-success" %>
      <%= link_to "排序：回復數量", topics_path( :order => "num_of_comments"), :class => "btn btn-success" %>
      <%= link_to "排序：標題", topics_path( :order => "capital"), :class => "btn btn-success" %>
    </p>
    
    <table class="table table-hover">
        <tr class="info">
          <th class="col-md-2">
            Num
          </th>
          <th class="col-md-2">
            Topic Name
          </th>
          <th class="col-md-6">
            Function
          </th>
          <th class="col-md-2">
            Created Date
          </th>
        </tr>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <%= Comment.count_by_topic_id(topic.id).to_s + " comments"  %>
          </td>
          <td>
            <%= link_to topic.name, topic_path(topic), :class => "btn btn-default" %>
          </td>
          <td id="like-td-<%=topic.id%>">
            <%= render :partial => "like_topics/like", :locals => { :topic => topic } %>
          </td>
          <td>
            <%= topic.created_at.to_s.split[0]  %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>


</div>

