
<h1>
  Create Topic
</h1>

<div class="container">
  <%= form_for @topic, :url => topics_path do |f| %>

  <div class="form-group">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name ,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Content: "%>
    <%= f.bootsy_area :content ,:class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :pic, "圖片" %>
    <%= f.file_field :pic %>

    <%= check_box_tag "destroy_pic", "1" %> 刪除圖片
  </div>

    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Cancel", topics_path ,:class => "btn btn-default" %>
  <% end %>
</div>