
<h1>
  Create Topic
</h1>

<div class="container">
  <%= form_for @topic, :url => topics_path do |f| %>

  <div class="form-group">
    <%= f.label :name, "Name: "%>
    <%= f.text_field :name ,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Content: "%>
    <%= f.text_area :content ,:class => "form-control" %>
  </div>

    <%= f.submit "Create", :class => "btn btn default" %>

  <% end %>
</div>