<div class="container">
  <h1>
    Topic Content
  </h1>

  <table class="table">
    <tr>
      <th>
        Topic name
      </th>
    </tr>
    <tr>
      <td>
        <%= @topic.name %>
      </td>
    </tr>

    <tr>
      <th>
        Content
      </th>
    </tr>
    <tr>
      <td>
        <%= @topic.content %>
        <br>
        <% if @topic.pic.exists? %>
          <%= image_tag( @topic.pic(:thumb) ) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>
         Who also liked the topics
        <% @liked_users.each do |u| %>
          <span class="label label-primary" ><%= u.name %></span>
        <% end %>
      </th>
    </tr>
  </table>

  <h1>
    Comments
  </h1>

  <% if @comments %> 
    <table class="table">
      <% @comments.each do |comment| %> 
        <tr id="comment-<%= comment.id %>">
          <td>
            <%= comment.content %>
            <br>
            <% if comment.pic.exists? %>
              <%= image_tag( comment.pic(:thumb) ) %>
            <% end %>
          </td>
          <% if current_user.can_edit?(comment) %>
            <td>
              <%= link_to "Delete", topic_comment_path( @topic, comment ), :method => :delete, :class => "btn btn-danger pull-right", :remote => true %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div id="comment-form">
    <%= form_for @comment, :url => topic_comments_path( @topic ) do |f| %>

    <div class="form-group">
      <%= f.label :content, "Content: "%>
      <%= f.text_area :content ,:class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :pic, "圖片" %>
      <%= f.file_field :pic %>
    </div>

      <%= f.submit "Create", :class => "btn btn-default" %>
      <%= link_to "Back to forum", topics_path, :class => "btn btn-primary" %>

    <% end %>
  </div>

</div>

