<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="head-nav">
  <div class="container">

    <%= link_to '關於全站', about_topics_path, :class => "btn btn-default" %>
    <% if current_user %>
      <%= link_to current_user.name + "'s profile", user_profile_topics_path, :class => "btn btn-default" %>
    <% end %>
    <% if current_user %>
      <%= link_to '修改資料', edit_registration_path(:user), :class => "btn btn-default pull-right nav-btn" %>
      <%= link_to '登出', destroy_user_session_path, :method => :delete, :class => "btn btn-danger pull-right nav-btn" %> 
      <%= link_to 'Hi! ' + current_user.name, user_profile_topics_path, :class => "pull-right hello-user" %>
      <% if current_user.head_shot.exists? %>
        <%= image_tag( current_user.head_shot.url(:nano), :class =>"pull-right ", :id => "nav-head-shot" )%>
      <% end %>

    <% else %>
      <%= link_to '登入', new_session_path(:user), :class => "btn btn-default pull-right nav-btn" %>
      <%= link_to '註冊', new_registration_path(:user), :class => "btn btn-success pull-right nav-btn" %>
      <%= link_to "Facebook登入", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary pull-right" %>
    <% end %>
  </div>

  <div class="container flash">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>

<div id="header">
  <h1>
    <%= link_to "Yeng's Forum", topics_path %>
  </h1>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
