<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="head-nav">
  <div class="container">

    <%= link_to '關於全站', about_topics_path, :class => "btn btn-default" %>

    <% if current_user %>
      <%= link_to '修改資料', edit_registration_path(:user), :class => "btn btn-default pull-right nav-btn" %>
      <%= link_to '登出', destroy_user_session_path, :method => :delete, :class => "btn btn-danger pull-right nav-btn" %> 
    <% else %>
      <%= link_to '登入', new_session_path(:user), :class => "btn btn-default pull-right nav-btn" %>
      <%= link_to '註冊', new_registration_path(:user), :class => "btn btn-success pull-right nav-btn" %> 
    <% end %>
  </div>

  <div class="container flash">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>

<div id="header">
  <h1> Yeng's Forum </h1> 
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
